<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="index.html">Home</a></li>

            {% assign p = site.pages | sort:"weight"  %}
            {% for my_page in p %}
            {% if my_page.section == 2 %}
            <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
            {% endfor %}
            
            {% assign p = site.pages | sort:"weight"  %}
            {% for my_page in p %}
            {% if my_page.section == 3 %}
            <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
            {% endfor %}
            <!-- <li><a href="#">Sign Up</a></li>
            <li><a href="#">Log In</a></li>
            <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}"
                   class="icon fa-feed"> RSS Feed</a></li> -->
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
